body {
width: 100%;
background-color: #973AA8;
font-family: 'Permanent Marker', cursive;
text-align: center;

}

h1 {
    font-size: 3.5rem;
    width: 60%;
    margin: 2rem auto;
}

h2 {
    font-size: 2rem;
}

p {
    text-align: center;
    line-height: 2rem;
}

.container {
    margin: 0 auto;
    width: 75%;
}

canvas {
    border: solid 5px #47126B;
    background-color: #AC46A1;
    display: none;
}

#end-screen {
    display: none;
}

.screen {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    border: solid 5px #47126B;
    background-color: #D55D92;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.instructions {
    border: solid 5px #AC46A1;
    border-radius: 6px;
    width: 50%;
    margin-top: 3rem;
}

.button {
    height: 3rem;
    width: 7rem;
    font-family: 'Permanent Marker', cursive;
    background: #6411AD;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    border-radius: 6px;
    border: 5px solid #AC46A1;
    cursor: pointer;
}
    
.btn-box {
    margin: 2rem auto;
    width: 45%;
}
    
.button:hover,
.button:active {
background-color: #571089;
color: #FF4742;
}

.button:active {
opacity: .5;
}


